* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --border-radius: 5px;

  --font-weight-bold: 500;

  --text-color: #111;
  --color-gray: #777;
  --color-primary: #236ddb;
  --color-background: #edf1f5;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-background);
  overflow-y: scroll;

  &.modal-open {
    overflow-y: hidden;
  }
}

#root {
  display: grid;
  grid-template-rows: min-content 1fr;
}
